---
import type { Props } from "./interfaces";

const { additionalClasses = '' } = Astro.props;
const id = 'theme-button'
---

<button
    id={id}
    class:list={['btn', additionalClasses ]}
>
    <slot />
</button>

<style>
	.btn {
		@apply rounded px-4 py-2 transition-colors duration-300 text-zinc-700 hover:text-zinc-600 hover:bg-zinc-400 dark:text-zinc-400 hover:dark:text-zinc-200 hover:dark:bg-zinc-800;
	}
</style>

<script define:vars={{ id }}>
    const button = document.getElementById(id)
    
    button?.addEventListener('click', () => {
        const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'
        if (theme === 'light') {
            document.documentElement.classList.add('dark')
            window.localStorage.setItem('theme', 'dark')
        } else {
            document.documentElement.classList.remove('dark')
            window.localStorage.setItem('theme', 'light')
        }
    })
</script>
